/**
 * INDEX SECCIONS
 * 
 * #GENERAL (Secció on s'apliquen els estils generals de la web)
 *   - Definició de variables
 *   - Estils globals
 *   - Estils del body
 *   - Estils del header
 *   - Media queries per al footer en pantalles amples
 * 
 * #INDEX
 *   - Estils de .gd-wrp i .gd-cntr
 *   - Estils específics per dispositius de tipus Desktop, Tablet i Mobile
 *   - Suport per display: grid i alternatives quan no es suporta
 * 
 * #PARTICIPANTS
 *   - Estils per a .general-part__sec i elements fills
 *   - Estils específics per a imatges dins de participants
 * 
 * #ARTICLE
 *   - Estils base per a .general__art
 *   - Estils específics per a paràgrafs, imatges i llistes
 *   - Adaptacions segons l'amplada de la pantalla (Desktop, Tablet, Mobile)
 * 
 * #CONTACTE
 *   - Mixin per estils de formularis
 *   - Estils específics per a formularis de contacte
 *   - Adaptacions segons l'amplada de la pantalla (Desktop, Tablet, Mobile)
 * 
 * #FOOTER
 *   - Estils per a .uoc-footer
 *   - Estils específics per a enllaços dins del footer
 */


/*------------------------------------*\
  #GENERAL
\*------------------------------------*/

/* Definicó de variables */
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: $uoc-bg;
  color: $uoc-corporate;
  height: 100vh;
  margin: 0;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;

  main {
    padding: 2rem;
    padding-right: 3rem;
    padding-left: 3rem;
  }
}

.header {
  margin-bottom: 20px;
  padding: 3rem;
  padding-right: 3rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    z-index: -1;
  }

  &__header_logo {
    display: flex;
    align-items: center;
    flex-direction: row;

    &__img {
      width: 80px;
      height: auto;
      margin-right: 5px;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;

    &__dv {
      text-align: center;

      &__h2 {
        padding-left: 20%;
      }

      &__ul {
        list-style: none;
        display: flex;

        &__li {
          width: 100%;
          margin-right: 7%;
          flex-direction: row;

          &__a {
            color: #fff;
            text-decoration: none;
            margin: 10px;

          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .uoc-footer {
    bottom: 0;
    left: 0;
    width: 100%;
  }
}


/*------------------------------------*\
  #INDEX
\*------------------------------------*/

.gd-wrp {

  &__gd-cntr {

    &__dv0__h3__a {
      color: #e40444;
      text-decoration: none;
    }

    &__dv0,
    &__dv2,
    &__dv4 {

      &__h1,
      &__h3 {
        text-align: justify;
      }
    }
  }
}

/*----- Desktop -----*/

@media (min-width: $breakpoint-desktop) {
  .header__nav {
    padding-left: 50%;
    padding-right: 2%;
  }

  @supports (display: grid) {
    .gd-wrp {
      width: 90%;

      &__gd-cntr {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-gap: 10px;

        &__dv0 {
          grid-column: 3;
          grid-row: 1 / span 1;
        }

        &__dv1 {
          grid-column: 1 / span 1;
          grid-row: 1;
        }

        &__dv2 {
          grid-column: 1 / span 1;
          grid-row: 2;
        }

        &__dv3 {
          grid-column: 2 / span 1;
          grid-row: 2;
        }

        &__dv4 {
          grid-column: 1 / span 1;
          grid-row: 3;
          justify-content: center;
        }

        &__dv5 {
          grid-column: 3;
          grid-row: 3 / span 1;
        }

        &__dv5,
        &__dv3,
        &__dv1 {
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10%;
          }
        }
      }
    }
  }
}

@supports not (display: grid) {
  .gd-wrp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &__gd-cntr {

      &__dv0,
      &__dv1,
      &__dv2,
      &__dv3,
      &__dv4,
      &__dv5 {
        flex: 1 1 calc(33%);
        margin: 5px;
      }
    }
  }
}

/*----- Tablet -----*/

@media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {

  .header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    &__header_logo {
      display: flex;
      align-items: center;
      flex-direction: row;

      &__nav {
        display: flex;
        flex-direction: column;
      }
    }
  }

  @supports (display: grid) {
    .gd-wrp {
      &__gd-cntr {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-gap: 10px;

        &__dv0 {
          grid-column: 1 / span 2;
          grid-row: 2;
          justify-content: center;
        }

        &__dv1 {
          padding-top: 10%;
          grid-column: 3 / span 1;
          grid-row: 2;
        }

        &__dv2 {
          grid-column: 2;
          grid-row: 1 / span 1;
        }

        &__dv3 {
          grid-column: 2 / span 1;
          grid-row: 3;
        }

        &__dv4 {
          grid-column: 2 / span 2;
          grid-row: 4;
          justify-content: center;
        }

        &__dv5 {
          padding-top: 40%;
          grid-column: 1;
          grid-row: 4 / span 1;
        }

        &__dv5,
        &__dv3,
        &__dv1 {
          img {
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 10%;
          }
        }
      }
    }
  }

  @media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
    @supports not (display: grid) {
      .gd-wrp {
        &__gd-cntr {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;

          &__dv0,
          &__dv1,
          &__dv2,
          &__dv3,
          &__dv4,
          &__dv5 {
            flex: 1 1 calc(50% - 10px);
            margin: 5px;
          }
        }
      }
    }
  }
}

/*----- Mobile -----*/

@media (max-width: $breakpoint-mobile) {

  .header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    &__header_logo {
      display: flex;
      align-items: center;
      flex-direction: row;

      &__nav {
        display: flex;
        flex-direction: column;
      }
    }
  }

  @supports (display: grid) {
    .gd-wrp {
      &__gd-cntr {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(9, auto);
        grid-gap: 10px;

        &__dv0 {
          grid-column: 1 / span 1;
          grid-row: 3;
          justify-content: center;
        }

        &__dv1 {
          grid-column: 1 / span 1;
          grid-row: 2;
        }

        &__dv2 {
          grid-column: 1;
          grid-row: 1 / span 1;
        }

        &__dv3 {
          grid-column: 1 / span 1;
          grid-row: 4;
        }

        &__dv4 {
          grid-column: 1 / span 1;
          grid-row: 5;
          justify-content: center;
        }

        &__dv5 {
          grid-column: 1;
          grid-row: 6 / span 1;
        }

        &__dv5,
        &__dv3,
        &__dv1 {
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10%;
          }
        }
      }
    }
  }

  @media screen and (max-width: 480px) {
    @supports not (display: grid) {
      .gd-wrp {
        &__gd-cntr {
          display: flex;
          flex-direction: column;
          align-items: center;

          &__dv0,
          &__dv1,
          &__dv2,
          &__dv3,
          &__dv4,
          &__dv5 {
            flex: 1 1 100%;
            margin: 5px 0;
          }
        }
      }
    }
  }
}


/*------------------------------------*\
  #PARTICIPANTS
\*------------------------------------*/

.general-part__sec {
  gap: 20px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;

  &__art {
    max-width: 350px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    flex: 1 1 300px;
    text-align: center;
    position: relative;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      top: 5px;
      left: 5px;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.1);
      z-index: -1;
    }

    &__img {
      max-width: 100%;
      height: auto;
    }
  }
}

.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
}


/*------------------------------------*\
  #ARTICLE
\*------------------------------------*/

.general__art {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__p {
    margin-bottom: 1rem;

    & :has(> strong) {
      color: blue;
    }
  }

  &__img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }

  &__ul {
    list-style: none;

    &__li:where(:nth-child(odd)) {
      background-color: #535252;
    }
  }
}

/*----- Desktop -----*/

@media (min-width: $breakpoint-desktop) {
  .general__art {
    &__p {
      text-align: center;
    }
  }
}

/*----- Tablet -----*/

@media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
  .general__art {
    &__p {
      text-align: left;
    }
  }
}

/*----- Mobile -----*/

@media (max-width: $breakpoint-mobile) {
  .general__art {
    &__p {
      text-align: justify;
    }
  }
}


/*------------------------------------*\
  #CONTACTE
\*------------------------------------*/

@mixin form-styles {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  label {
    margin-bottom: 0.5rem;
  }

  input,
  textarea,
  button {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }

  button {
    color: white;
  }
}

.general__sec__form {
  @include form-styles;
}

.general__sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*----- Desktop -----*/

@media (min-width: $breakpoint-desktop) {
  .general__sec__form {
    width: calc(50vw / 2);
    gap: 1lv;
    display: flex;
    flex-direction: column;
    padding-right: 30px;

    &__inp,
    &__txt,
    &__chk {
      margin-bottom: 1sv;
      padding: 0.5rem;
      border: 1px solid hwb(0, 100%, 0%);
      border-radius: 0.25rem;
    }

    &__btn {
      padding: 1lv;
      border: none;
      border-radius: 0.25rem;
      background-color: hwb(224 14% 39%);
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken(rgb(255, 31, 31), 10%);
      }
    }
  }
}

/*----- Tablet -----*/

@media (min-width: $breakpoint-tablet) {
  .general__sec__form {
    width: calc(70vw / 2);
    gap: 1lv;
    display: flex;
    flex-direction: column;
    padding-right: 30px;

    &__inp,
    &__txt,
    &__chk {
      margin-bottom: 1sv;
      padding: 0.5rem;
      border: 1px solid hwb(0, 100%, 0%);
      border-radius: 0.25rem;
    }

    &__btn {
      padding: 1lv;
      border: none;
      border-radius: 0.25rem;
      background-color: hwb(224 14% 39%);
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken(rgb(255, 31, 31), 10%);
      }
    }
  }
}

/*----- Mobile -----*/

@media (max-width: $breakpoint-mobile) {
  .general {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 50px;

    &__sec__form {
      width: 90vw;
      gap: 1lv;
      display: flex;
      flex-direction: column;
      padding-right: 30px;

      &__inp,
      &__txt,
      &__chk {
        margin-bottom: 1sv;
        padding: 0.5rem;
        border: 1px solid hwb(0, 100%, 0%);
        border-radius: 0.25rem;
      }

      &__btn {
        padding: 1lv;
        border: none;
        border-radius: 0.25rem;
        background-color: hwb(224 14% 39%);
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: darken(rgb(255, 31, 31), 10%);
        }
      }
    }
  }
}


/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

.uoc-footer {
  background-image: linear-gradient(to bottom, #e40444 30%, #23548c);
  font-size: 15px;
  margin-top: 20px;
  padding-top: 25px;
  text-align: center;
  box-sizing: border-box;

  &__a {
    color: $uoc-corporate;
    text-decoration: none;
  }
}