/**
INDEX SECCIONS

#GENERAL (Secció on s'apliquen els estils generals de la web)
*.................Configuració del box-sizing
header............Estils header
navSec............Estils del navegador que redirigeix a les diferents seccions de la web.
navPer............Estils amb la configuració de la secció de canvi de color del background.
container.........Estils generals per als contenidors dels textos i imatges.
uoc-footer........Estils per al footer.
link-insta........Estils per al link del footer que redirigeix a la pàgina de One Piece a Instagram.
*

#DESKTOP
body..............Configuració per a desktop del body de la web.
*

#TABLET
body..............Configuració per a desktop del body de la web.
*

#MOBILE
body..............Configuració per a desktop del body de la web.
*

#SLIDER
slider............Configuració i estils per al slider amb imatges de la web.
*

#CANVI COLOR BACKGROUND
Configuració per al "set up" del canvi de color per mitjà dels botons.
*

**/


/*------------------------------------*\
  #GENERAL
\*------------------------------------*/


* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding-top: 3rem;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: $uoc-bg;
  color: $uoc-corporate;

  main {
    padding: 2rem;
    padding-right: 3rem;
    padding-left: 3rem;
  }
}

.header {
  margin-bottom: 20px;
  padding: 2rem;
  padding-right: 3rem;

  &__header_logo {
    display: flex;
    align-items: center;
    flex-direction: row;

    &__img {
      width: 80px;
      height: auto;
      margin-right: 5px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .uoc-footer {
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

/*------------------------------------*\
  #INDEX
\*------------------------------------*/


// .capcalera {
//   grid-area: capcalera;

// }

// .navegacio {
//   grid-area: navegacio;

// }

// .contingut-principal {
//   grid-area: contingut-principal;

// }

// .barra-lateral {
//   grid-area: barra-lateral;

// }

// .peu-de-pagina {
//   grid-area: peu-de-pagina;

// }

// @supports not (display: grid) {
//   .gd-wrapper__gd-cntr {
//     display: block;
//   }

//   .capcalera,
//   .navegacio,
//   .contingut-principal,
//   .barra-lateral,
//   .peu-de-pagina {
//     width: 100%;

//   }
// }

// @supports not (display: grid) {
//   .gd-wrapper__gd-cntr {
//     display: block;
//   }
// }

.gd-wrp__gd-cntr__nav {
  padding: 10px;
  color: #fff;
  text-align: center;

  &__ul {

    &__li {
      width: 60%;
      margin-right: 7%;
      list-style: none;

      &__a {
        margin: 10px;
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

/*----- Desktop -----*/

@media screen and (min-width: 1024px) {
  .gd-wrp {
    display: flex;
    width: 90%;

    &__gd-cntr {
      // @supports (display: grid) {
      display: grid;
      align-items: center;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, auto);
      grid-gap: 10px;

      &__nav {
        grid-column: 3;
        grid-row: 1 / span 1;
      }

      &__dv1 {
        grid-column: 1 / span 1;
        grid-row: 1;
      }

      &__dv2 {
        grid-column: 1 / span 1;
        grid-row: 2;
      }

      &__dv3 {
        grid-column: 2 / span 1;
        grid-row: 2;
      }

      &__dv4 {
        grid-column: 1 / span 1;
        grid-row: 3;
        justify-content: center;
      }

      &__dv5 {
        grid-column: 3;
        grid-row: 3 / span 1;
      }

      // } claudator Displays grid
      &__dv5,
      &__dv3,
      &__dv1 {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10%;
        }
      }

      // @supports (container-type: inline-size) {
      //   container-type: inline-size;

      //   @container (min-width: 1024px) {
      //     &__dv4 {
      //       grid-column: span 2; 
      //     }
      //   }
      // }
    }
  }
}

/*----- Tablet -----*/
@media screen and (min-width:481px) and (max-width: 1023px) {

  .header {
    &__header__header_logo {
      display: flex;
      flex-direction: row;

      &__img {
        min-width: 70%;
        min-height: auto;
      }
    }
  }

  .gd-wrp {
    &__gd-cntr {
      // @supports (display: grid) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, auto);
      grid-gap: 10px;

      &__nav {
        grid-column: 2;
        grid-row: 1 / span 1;
      }

      &__dv1 {
        grid-column: 3 / span 1;
        grid-row: 2;
      }

      &__dv2 {
        grid-column: 1 / span 1;
        grid-row: 2;
      }

      &__dv3 {
        grid-column: 2 / span 1;
        grid-row: 3;
      }

      &__dv4 {
        grid-column: 2 / span 2;
        grid-row: 4;
        justify-content: center;

        &__h2 {
          font-size: 15px;
        }
      }

      &__dv5 {
        grid-column: 1;
        grid-row: 4 / span 1;
      }

      // } claudator Displays grid

      &__dv5,
      &__dv3,
      &__dv1 {
        img {
          width: 100%;
          height: auto;
          object-fit: cover;
          border-radius: 10%;
        }
      }
    }
  }

}

/*----- Mobile -----*/

@media screen and (max-width: 480px) {

  .header {
    &__header__header_logo {
      display: flex;
      flex-direction: row;

      &__img {
        min-width: 70%;
        min-height: auto;
      }
    }
  }

  .gd-wrp {
    &__gd-cntr {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(9, auto);
      grid-gap: 10px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      width: 100%;

      &__nav {
        grid-column: 1;
        grid-row: 1 / span 1;
      }

      &__dv1 {
        grid-column: 1 / span 1;
        grid-row: 2;
      }

      &__dv2 {
        grid-column: 1 / span 1;
        grid-row: 3;
      }

      &__dv3 {
        grid-column: 1 / span 1;
        grid-row: 4;
      }

      &__dv4 {
        grid-column: 1 / span 1;
        grid-row: 5;
        justify-content: center;
      }

      &__dv5 {
        grid-column: 1;
        grid-row: 6 / span 1;
      }

      &__dv5,
      &__dv3,
      &__dv1 {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10%;
        }
      }

      &__dv2,
      &__dv4 {

        &__h1,
        &__h2 {
          text-align: justify;
        }
      }
    }
  }
}

// @supports not (display: grid) {
//   .gd-wrp__gd-cntr {
//     // Estilos de fallback para navegadores que no soportan CSS Grid
//   }

/*------------------------------------*\
  #PARTICIPANTS
\*------------------------------------*/

.general__sec {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;

  &__art {
    flex: 1 1 300px;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;

    &__img {
      max-width: 100%;
      height: auto;
    }
  }
}

//Falta estils navegador i centrarlo 


/*------------------------------------*\
  #ARTICLE
\*------------------------------------*/


// .header {
//   &__header_logo {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     padding: 1rem;

//     &__img {
//       width: 50px;
//       height: auto;
//     }

//     &__h2 {
//       font-size: 2rem;
//     }
//   }

//   &__dv {
//     &__nav {
//       background-color: #f8f8f8;

//       &__ul {
//         list-style-type: none;
//         display: flex;
//         justify-content: center;

//         &__li {
//           padding: 0.5rem 1rem;

//           &:is(:hover, :focus) {
//             background-color: #ddd;
//           }

//           &__a {
//             text-decoration: none;
//             color: #333;
//           }
//         }
//       }
//     }
//   }
// }

.general {
  &__art {
    padding: 2rem;

    &__p {
      margin-bottom: 1rem;
      line-height: 1.6;

      &:has(> strong) {
        color: #ff4500;
      }
    }

    &__img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 1rem auto;
    }

    &__sec {
      margin: 2rem 0;

    //   &:where(:last-of-type) {
    //     background-color: #868585;
    //     padding: 1rem;
    //   }
    }

    &__ul {
      &__li {
        list-style-type: square;
        margin-left: 2rem;
      }
    }
  }
}

.header__dv__nav__ul {
  flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .header__header_logo {
    justify-content: start;
  }

  .general__art__sec {
    padding: 2rem;
  }
}

@media screen and (min-width:481px) and (max-width: 1023px) {
  .header__dv__nav__ul__li {
    padding: 0.5rem;
  }
}


@media screen and (max-width: 480px) {
  .header__header_logo__h2 {
    font-size: 1.5rem;
  }

}

/*------------------------------------*\
  #CONTACTE
\*------------------------------------*/

@layer base, components, utilities;

@layer base {
  body {
    font-size: 16px;
    /* Estil base */
  }
}

@layer components {
  .contact-container {
    display: flex;
    justify-content: center;
    padding: 5vw;
  }

  .contact-form {
    display: grid;
    gap: 16px;
    width: 50vw;

    @supports not (width: 50vw) {
      width: 50%;
    }
  }

  .general__sec__form label:is(.required) {
    color: hsl(var(--required-color));
  }

  .general__sec__form input:where(:required) {
    border: 1px solid hsl(var(--required-border-color));
  }

  .general__sec__form button:has(> span) {
    padding: 10px 20px;
  }
}

@layer utilities {
  @container (min-width: 30em) {
    .general__sec__form {
      /* Estils específics per a contenidors més amplis */
      width: 40vw;
    }
  }
}

/* Definició de variables de color */
:root {
  --required-color: 220 50% 50%;
  /* Exemple de color HSL */
  --required-border-color: 220 50% 40%;
  /* Exemple de color HSL amb una mica més de foscor */
}

/* Utilització de noves unitats i colors */
.general__sec__form {
  color: hsl(var(--required-color));
  border: 1px solid hsl(var(--required-border-color));
  margin-bottom: 2vh;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.is-invalid {
  border-color: red;
}


/*------------------------------------*\
  #FOOTER
\*------------------------------------*/
.uoc-footer {
  background-image: linear-gradient(to bottom, #e40444 30%, #23548c);
  margin-top: 20px;
  padding-top: 25px;
  font-size: 0.75rem;
  text-align: center;
  font-size: 15px;
  box-sizing: border-box;

  &__a {
    text-decoration: none;
    color: $uoc-corporate;
  }
}