* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 2rem;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: $uoc-bg;
  color: $uoc-corporate;
}

/* INDEX*/
.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  gap: 10px;
  grid-template-areas: 
      "capcalera capcalera"
      "navegacio contingut-principal"
      "barra-lateral contingut-principal"
      "peu-de-pagina peu-de-pagina";
}

.capcalera {
  grid-area: capcalera;

}

.navegacio {
  grid-area: navegacio;

}

.contingut-principal {
  grid-area: contingut-principal;

}

.barra-lateral {
  grid-area: barra-lateral;
 
}

.peu-de-pagina {
  grid-area: peu-de-pagina;

}


@supports not (display: grid) {
  .grid-container {
      display: block;
  }

  .capcalera, .navegacio, .contingut-principal, .barra-lateral, .peu-de-pagina {
      width: 100%;

  }
}

/*Participants*/
.participants-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: center; 
  padding: 20px; 
}

.participant-card {
  flex: 0 1 300px; 
  border: 1px solid #ccc; 
  padding: 10px; 
  text-align: center; 
}

.participant-card img {
  width: 100%; 
  height: auto; 
  margin-bottom: 10px; 
}


/*Article*/

.article-container {

}

.article-container p:has(> img) {

}

.article-container p:is(:nth-child(odd)) {

}

.article-container p:where(:last-child) {

}









.uoc-footer {
  margin-top: 1.5rem;
  font-size: 0.75rem;
  text-align: center;
}
